//NO TOCAR ESTA PAGINA
// HOJA DE STYLUS-> STYLUS ES UN PREPROCESADOR DE CSS

//variables usadas para manejar mas facil el color
rosa = rgba(231, 76, 60,0.6)
pomegranade = rgba(192, 57, 43,1.0)
rosapomegranade = rgba(192, 57, 43,0.5)
blanco = rgba(236, 240, 241,1.0)
concreto = rgba(149, 165, 166,1.0)
turquesa = rgba(26, 188, 156,1.0)
verdeoceano = rgba(22, 160, 133,1.0)
amarillogirasol = rgba(241, 196, 15,1.0)
naranja = rgba(243, 156, 18,1.0)
esmeralda = rgba(46, 204, 113,1.0)
nephritis = rgba(39, 174, 96,1.0)
carrot = rgba(230, 126, 34,1.0)
pumpkin = rgba(211, 84, 0,1.0)
peterriver = rgba(52, 152, 219,1.0)
belizehola = rgba(41, 128, 185,1.0)
alizarin = rgba(231, 76, 60,1.0)
amatista = rgba(155, 89, 182,1.0)
wisteria = rgba(142, 68, 173,1.0)
clouds = rgba(236, 240, 241,1.0)
silver = rgba(189, 195, 199,1.0)
wetasphalt = rgba(52, 73, 94,1.0)
midnightblue = rgba(44, 62, 80,1.0)
asbestos = rgba(127, 140, 141,1.0)
grisscarlet = #e1e3e2
niggas = #323232

//Mixins
bordes(n)
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n
	
	/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
*
	margin 0
	padding 0
body
	/* el atributo background se usa en body, asi como en etiquetas que hagan la funcion de contenedor, 
	div, article, section, footer...
	*/
	background-color rosa
	color concreto
	/* el atributo font-family sirve para agregarle un tipo de fuente al la pagina web */
	font-family 'Helvetica', sans-serif
	text-align center
	text-rendering optimizeLegibility
	
/*	caja principal de la primera seccion de la web	*/
/*CAJA con borde NEGRO cabecera ES LA CAJA EXTERNA MAS GRANDE DE TODAS QUE CONTENDRA A TODAS LAS DEMAS*/
.cabecera
	background-color rosapomegranade
	/*border 2px solid black*/
	height 450px
	width 100%	
	/*INICIO MENU
		CAJA con borde AMARILLO menu
		CONTENDRA AL MENU
		es importante observar que la caja va de esquina a esquina esta al 100% del ancho de la pantalla 
			*/
#menu
	//border 1px solid yellow
	height 100px
	width 100%
	/*CAJA con borde ANARANJADO hace referencia a la etiqueta NAV*/
	nav
		//border 2px solid anaranjado
		font-size 1.2em
		height 100%
		line-height 100px
		margin-left 45%
		width 700px
	ul
		height 100px		
		list-style none
		/*CAJA con borde BLANCO hace referencia a la etiqueta LI*/
	li
		/*border 1px solid blanco*/
		display inline
		padding  0 0.8em 0 0
		/*CAJA con borde VERDE OSCURO hace referencia a la etiqueta A*/
	a
		/*border 1px solid nephritis*/
		color blanco
		text-decoration none
	
	/*aca utilizamos el parametro hover, el cual es la accion o lo que va a ocurrir cuando 
		coloquemos el cursos sobre el objeto que estamos manipulando o al cual vamos a hacer click
		*/				
	a:hover
		color niggas
		text-decoration none
	a:active
		background-color blanco
		bordes 5px
		text-decoration none
/*Fin del menu

---
*/
/*contenido de la caja gris grande debajo de la caja amarilla del menu, 
que va a contener:
1era una caja que va a ser mas pequeña para poder centrarla, esta caja va a contener a las siguientes cajas
2era caja para la imagen, ubicada al lado izquierdo de la pantalla
3da caja para el texto y boton ubicada a la derecha.
*/

#imagenNombre
	/*border 3px solid asbestos */
	background url('../img/paris.png')
	background-repeat no-repeat
	background-position bottom
	background-attachment transparent
	background-size 100% 85%
	height 350px
	width 100%
	/* es la caja azul noche, su ancho es mas pequeño 
		
		lo cual nos permite asignarle un margen izquierdo y un margen derecho,
		para lograr el efecto de que quede centrada

inicio DE LA CAJA azul CONTENEDORA DE LAS CAJAS de la foto, y del titulo, esta caja ocupa el 80% de ancho de la web y va centrada
		*/
#contenedorCentrado
	/*border 2px solid midnightblue*/
	display inline-flex
	height 100%
	width 80%
	margin-left 10%
	margin-right 10%
/* inicio DE LA CAJA azul claro, CONTENEDORA DE LA CAJA de la foto, esta caja ocupa 40% de la caja azul oscuro*/	
#imagenFotoIzquierda
	/*border 2px solid belizehola*/
	height 100%
	width 40%
#fotosj
	background url('../img/sj.jpg')
	background-repeat no-repeat
	background-position center
	background-size 135%
	/*border 2px solid black*/
	bordes 200px 200px 200px 200px
	height 70%
	margin-left 40%
	margin-top 2%
	width 55%
	vertical-align center
	/*fin de la caja azul claro*/	
	/*inicio DE LA CAJA blanca, 
	CONTENEDORA DE LA CAJA de blanca, 
	para el titulo,subtitulo y boton, 
	esta caja ocupa 60% de la caja azul oscuro*/
#imagenTituloDerecha
	/*border 2px solid blanco*/
	color blanco
	height 50%
	margin-top 5%
	text-align left
	width 60%
	h1 
		font-size 4em
	h4 
		font-size 1.5em
		font-weight lighter
	/*div utilizado para dar aspecto de boton claro*/
	#botonAspect
		background-color wetasphalt
		bordes 15px
		height 50px
		width 150px
		h4
			line-height 50px
			text-align center
	/*ACA como pueden observar tomamos nuevamente el boton
	pero con la particularidad de que le pasamos la propiedad
		:hover la cual usaremos mucho, esta asociada a la accion
		que se ejecuta cuando pasamos el cursos sobre cualquier objeto	
		*/
	#botonAspect:hover
		background-color blanco
		color wetasphalt
		bordes 15px
		height 50px
		width 150px
		h4
			line-height 50px
			text-align center
			
/*Espacio en blanco para separar secciones*/

.divisorBlanco
	background-color blanco
	/*border 1px solid carrot*/
	clear both
	display flex
	height 50px
	width 100%
/*fin del class divisor blanco, que estara repetido en varias partes del sitio web.*/	

/*Caja del titulo*/
#titulos
	background-color blanco
	color black
	display flex
	height 100px
	justify-content center
	width 100%
	h1
		height 100px
		font-size 3em
		font-weight lighter
		line-height 30px
		width 100px
	/*Fin de la caja del titulo*/
	/*Inicio del contenido del portafolio*/
#portafolio
	height 500px
	display flex
	width 100%
	/*Columna izquierda unica columna, grande de alto=height*/
#columnaIzquierda
	background url('../img/portafolio/cuadroUno.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	margin-left 10px
	margin-right 10px
	width 20%
	/**/
#columnaDerecha
	display flex-inline
	flex-direction row
	height 100%
	width 80%
/*Fila Derecha arriba color verde oceano*/
#derechaArriba
	display flex
	height 65%
	width 100%
#AcolumnaUno
	background url('../img/portafolio/cuadroDos.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	margin-right 10px
	order 1
	width 30%
#AcolumnaDos
	background url('../img/portafolio/cuadroTres.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	order 1
	width 70%
/*inicio fila derecha abajo*/
#derechaAbajo
	display flex
	height 30%
	margin-top 22px
	width 100%
#BcolumnaUno
	background url('../img/portafolio/cuadroCuatro.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	margin-right 10px
	order 1
	width 33%
#BcolumnaDos
	background url('../img/portafolio/cuadroCinco.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	margin-right 10px
	padding 0
	order 1
	width 33%
#BcolumnaTres
	background url('../img/portafolio/cuadroSeis.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	order 1
	width 33%
/*Fin de la seccion portafolio*/
/*Inicio de la seccion de articulos*/
#cuerpoArticulo	
	/*esta caja contendra a la caja utilizada para centrar los articulos*/
	background-color blanco
	font-family "Helvetica" sans-serif
	color #000
	width 100%
	height 300px
#cajaArticulos
	display inline-flex
	flex-direction row
	justify-content center
	order 1
	height 100%
	width 90%
#articuloA,#articuloB,#articuloC
	background-color white
	bordes 20px
#articuloA
	height 100%
	order 1
	margin-right 3%
	width 40%
#articuloB
	height 100%
	order 1
	margin-right 3%
	width 40%
#articuloC
	height 100%
	order 1
	width 40%
/*Fin de articulos*/

/*Inicio de la seccion de contacto*/
#contacto
	background-color grisscarlet
	background-repeat no-repeat
	color black
	display flex
	flex-direction row
	height 400px
	justify-content center
	width 100%
/*cuadro utilizado para ser centrado*/
#contactoCentrado
	background-color blanco
	display inline-flex
	height 100%
	margin-right 10%
	margin-left 10%
	width 80%
#columnaImg
	display flex
	height 100%
	justify-content center
	width 50%
	/*imagen*/
#imag
	background url('../img/sj.jpg')
	background-repeat no-repeat
	background-position center
	background-size 100%
	height 100%
	width 100%
	/*columna de informacion de contacto*/
#columnaContac
	align-items flex-start
	background-color grisscarlet
	display flex
	flex-direction column
	height 100%
	justify-content center
	width 50%
	h1,h3,p,h4
		order 0
	h1
		font-size 3.5em
	h3
		font-size 2em
	p,h4
		font-size 1.5em
/*fin de la seccion de contacto*/
	/*inicio del pie de pagina*/
footer
	align-content center
	align-items center
	background-color niggas
	color blanco
	display flex
	flex-direction row
	height 50px
	justify-content center
	width 100%
#autores >
	height 50px
	width 100%
	/*fin de la seccion de pie de pagina*/
/*BIEN FIN DE NUESTRA PRIMERA PAGINA*/


//Polymer css
.icon-larger
	height 200px
	width 200px