* {
  margin: 0;
  padding: 0;
}
body {
/* el atributo background se usa en body, asi como en etiquetas que hagan la funcion de contenedor, 
	div, article, section, footer...
	*/
  background-color: rgba(231,76,60,0.6);
  color: #95a5a6;
/* el atributo font-family sirve para agregarle un tipo de fuente al la pagina web */
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
}
/*	caja principal de la primera seccion de la web	*/
/*CAJA con borde NEGRO cabecera ES LA CAJA EXTERNA MAS GRANDE DE TODAS QUE CONTENDRA A TODAS LAS DEMAS*/
.cabecera {
  background-color: rgba(192,57,43,0.5);
/*border 2px solid black*/
  height: 450px;
  width: 100%;
/*INICIO MENU
		CAJA con borde AMARILLO menu
		CONTENDRA AL MENU
		es importante observar que la caja va de esquina a esquina esta al 100% del ancho de la pantalla 
			*/
}
#menu {
  height: 100px;
  width: 100%;
/*CAJA con borde ANARANJADO hace referencia a la etiqueta NAV*/
/*aca utilizamos el parametro hover, el cual es la accion o lo que va a ocurrir cuando 
		coloquemos el cursos sobre el objeto que estamos manipulando o al cual vamos a hacer click
		*/
}
#menu nav {
  font-size: 1.2em;
  height: 100%;
  line-height: 100px;
  margin-left: 45%;
  width: 700px;
}
#menu ul {
  height: 100px;
  list-style: none;
/*CAJA con borde BLANCO hace referencia a la etiqueta LI*/
}
#menu li {
/*border 1px solid blanco*/
  display: inline;
  padding: 0 0.8em 0 0;
/*CAJA con borde VERDE OSCURO hace referencia a la etiqueta A*/
}
#menu a {
/*border 1px solid nephritis*/
  color: #ecf0f1;
  text-decoration: none;
}
#menu a:hover {
  color: #323232;
  text-decoration: none;
}
#menu a:active {
  background-color: #ecf0f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
  text-decoration: none;
}
/*Fin del menu

---
*/
/*contenido de la caja gris grande debajo de la caja amarilla del menu, 
que va a contener:
1era una caja que va a ser mas pequeña para poder centrarla, esta caja va a contener a las siguientes cajas
2era caja para la imagen, ubicada al lado izquierdo de la pantalla
3da caja para el texto y boton ubicada a la derecha.
*/
#imagenNombre {
/*border 3px solid asbestos */
  background: url("../img/paris.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: transparent;
  background-size: 100% 85%;
  height: 350px;
  width: 100%;
/* es la caja azul noche, su ancho es mas pequeño 
		
		lo cual nos permite asignarle un margen izquierdo y un margen derecho,
		para lograr el efecto de que quede centrada

inicio DE LA CAJA azul CONTENEDORA DE LAS CAJAS de la foto, y del titulo, esta caja ocupa el 80% de ancho de la web y va centrada
		*/
}
#contenedorCentrado {
/*border 2px solid midnightblue*/
  display: inline-flex;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
/* inicio DE LA CAJA azul claro, CONTENEDORA DE LA CAJA de la foto, esta caja ocupa 40% de la caja azul oscuro*/
#imagenFotoIzquierda {
/*border 2px solid belizehola*/
  height: 100%;
  width: 40%;
}
#fotosj {
  background: url("../img/sj.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 135%;
/*border 2px solid black*/
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
  height: 70%;
  margin-left: 40%;
  margin-top: 2%;
  width: 55%;
  vertical-align: center;
/*fin de la caja azul claro*/
/*inicio DE LA CAJA blanca, 
	CONTENEDORA DE LA CAJA de blanca, 
	para el titulo,subtitulo y boton, 
	esta caja ocupa 60% de la caja azul oscuro*/
}
#imagenTituloDerecha {
/*border 2px solid blanco*/
  color: #ecf0f1;
  height: 50%;
  margin-top: 5%;
  text-align: left;
  width: 60%;
/*div utilizado para dar aspecto de boton claro*/
/*ACA como pueden observar tomamos nuevamente el boton
	pero con la particularidad de que le pasamos la propiedad
		:hover la cual usaremos mucho, esta asociada a la accion
		que se ejecuta cuando pasamos el cursos sobre cualquier objeto	
		*/
}
#imagenTituloDerecha h1 {
  font-size: 4em;
}
#imagenTituloDerecha h4 {
  font-size: 1.5em;
  font-weight: lighter;
}
#imagenTituloDerecha #botonAspect {
  background-color: #34495e;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
  height: 50px;
  width: 150px;
}
#imagenTituloDerecha #botonAspect h4 {
  line-height: 50px;
  text-align: center;
}
#imagenTituloDerecha #botonAspect:hover {
  background-color: #ecf0f1;
  color: #34495e;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
  height: 50px;
  width: 150px;
}
#imagenTituloDerecha #botonAspect:hover h4 {
  line-height: 50px;
  text-align: center;
}
/*Espacio en blanco para separar secciones*/
.divisorBlanco {
  background-color: #ecf0f1;
/*border 1px solid carrot*/
  clear: both;
  display: flex;
  height: 50px;
  width: 100%;
}
/*fin del class divisor blanco, que estara repetido en varias partes del sitio web.*/
/*Caja del titulo*/
#titulos {
  background-color: #ecf0f1;
  color: #000;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
/*Fin de la caja del titulo*/
/*Inicio del contenido del portafolio*/
}
#titulos h1 {
  height: 100px;
  font-size: 3em;
  font-weight: lighter;
  line-height: 30px;
  width: 100px;
}
#portafolio {
  height: 500px;
  display: flex;
  width: 100%;
/*Columna izquierda unica columna, grande de alto=height*/
}
#columnaIzquierda {
  background: url("../img/portafolio/cuadroUno.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
/**/
}
#columnaDerecha {
  display: flex-inline;
  flex-direction: row;
  height: 100%;
  width: 80%;
}
/*Fila Derecha arriba color verde oceano*/
#derechaArriba {
  display: flex;
  height: 65%;
  width: 100%;
}
#AcolumnaUno {
  background: url("../img/portafolio/cuadroDos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  margin-right: 10px;
  order: 1;
  width: 30%;
}
#AcolumnaDos {
  background: url("../img/portafolio/cuadroTres.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  order: 1;
  width: 70%;
}
/*inicio fila derecha abajo*/
#derechaAbajo {
  display: flex;
  height: 30%;
  margin-top: 22px;
  width: 100%;
}
#BcolumnaUno {
  background: url("../img/portafolio/cuadroCuatro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  margin-right: 10px;
  order: 1;
  width: 33%;
}
#BcolumnaDos {
  background: url("../img/portafolio/cuadroCinco.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  margin-right: 10px;
  padding: 0;
  order: 1;
  width: 33%;
}
#BcolumnaTres {
  background: url("../img/portafolio/cuadroSeis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  order: 1;
  width: 33%;
}
/*Fin de la seccion portafolio*/
/*Inicio de la seccion de articulos*/
#cuerpoArticulo {
/*esta caja contendra a la caja utilizada para centrar los articulos*/
  background-color: #ecf0f1;
  font-family: "Helvetica" sans-serif;
  color: #000;
  width: 100%;
  height: 300px;
}
#cajaArticulos {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  order: 1;
  height: 100%;
  width: 90%;
}
#articuloA,
#articuloB,
#articuloC {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
}
#articuloA {
  height: 100%;
  order: 1;
  margin-right: 3%;
  width: 40%;
}
#articuloB {
  height: 100%;
  order: 1;
  margin-right: 3%;
  width: 40%;
}
#articuloC {
  height: 100%;
  order: 1;
  width: 40%;
}
/*Fin de articulos*/
/*Inicio de la seccion de contacto*/
#contacto {
  background-color: #e1e3e2;
  background-repeat: no-repeat;
  color: #000;
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  width: 100%;
}
/*cuadro utilizado para ser centrado*/
#contactoCentrado {
  background-color: #ecf0f1;
  display: inline-flex;
  height: 100%;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}
#columnaImg {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
/*imagen*/
}
#imag {
  background: url("../img/sj.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  width: 100%;
/*columna de informacion de contacto*/
}
#columnaContac {
  align-items: flex-start;
  background-color: #e1e3e2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
}
#columnaContac h1,
#columnaContac h3,
#columnaContac p,
#columnaContac h4 {
  order: 0;
}
#columnaContac h1 {
  font-size: 3.5em;
}
#columnaContac h3 {
  font-size: 2em;
}
#columnaContac p,
#columnaContac h4 {
  font-size: 1.5em;
}
/*fin de la seccion de contacto*/
/*inicio del pie de pagina*/
footer {
  align-content: center;
  align-items: center;
  background-color: #323232;
  color: #ecf0f1;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  width: 100%;
}
#autores > {
  height: 50px;
  width: 100%;
/*fin de la seccion de pie de pagina*/
}
/*BIEN FIN DE NUESTRA PRIMERA PAGINA*/
.icon-larger {
  height: 200px;
  width: 200px;
}
